<div class="row">
    <div class="span3">
        <div class="pa-sidebar well well-small">
            <ul class="nav nav-list">
                <li ng-class="{ active: $state.includes('contacts.list') }"><a ui-sref="contacts.list">All Contacts</a>
                </li>
                <li class="nav-header">Top Contacts</li>

                <!-- This <li> will only add the 'active' class if 'contacts.detail' or its descendants are active
                     AND if it is the link for the active contact (aka contactId) -->
                <li ng-repeat="contact in contacts | limitTo:3" ui-sref-active="active">

                    <!-- Here's a ui-sref that is also providing necessary parameters -->
                    <a ui-sref="contacts.detail({contactId:contact.id})">{{contact.name}}</a>
                </li>
            </ul>
            <hr>
            <button class="btn" ng-click="goToRandom()">Show random contact</button>
            <!--此处可以用来显示联系人的主键信息但是在点击详情的时候才能够使用-->
            <!-- Another named view -->
            <div ui-view="menuTip" class="slide"></div>
        </div>
    </div>
    <!--该页面需要默认默认填充的内同区块在这里填充的-->
    <!-- Our unnamed main ui-view for this template -->
    <div ui-view class="span9 slide"></div>
</div>
